
* { 
    font-family: 'Raleway', sans-serif;
    
}

body{
    margin: 0px;
    background-color: #071013;
}

a{
    text-decoration: none;
    color: #EB5160;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

/*
Attempted to make the nav bar strictly show up in the centre of the page. Best I could achieve.
*/

.navbar ul{
    list-style-type: none;
    background-color: #DFE0E2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 100px;
    margin-right: 10px;
    overflow: hidden;
    width: fit-content; margin: 0 auto;
    
}

.navbar li{
    float: left;
}

.navbar a{
    color: #EB5160;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #AAAAAA;
}

/* 
Attempting to make the image grid work succesfully, but unable too
*/

section {
    display: block;
    width: fit-content;
    height: auto;
    width: 70%;height:auto;
    margin-top: 8px;
}
.grid img {
    display: block;
    width: fit-content;
    height: auto;
    width: 70%;
    margin-top: 8px;
}

p {
    color: #AAAAAA;
}

h1 {
    color: #EB5160;
    text-align: center;
}

h2 {
    color: #B7999C;
}

h3 {
    color: #B7999C;
}

table td{
    color: #EB5160;
    margin: 50px;
    padding: 10px;
    border: solid;
}
table th{
    color: #AAAAAA;
    margin: 5px;
    padding: 5px;
    border: solid;
}

footer{
    text-align: center;
    color: #DFE0E2;
}

@media screen and (max-width: 481px) {
    .navbar ul{
        list-style-type: none;
        background-color: #DFE0E2;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: hidden;
        width: fit-content; margin: 0 auto;
    }

    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }

    img {
        align-content: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    section{
        align-items: center;
    }

    .grid img {
        align-items: center;
        width: 100 auto;
    }



}